<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>출석체크 중...</title>
  <link href="css/wrap.css" rel="stylesheet">
  <link href="css/check.css" rel="stylesheet">
  <script src="js/check.js"></script>
</head>
<body>
<div id="main">
  <div id="contents">
    <img src="https://www.dongyang.ac.kr/sites/dongyang/images/common/logo_b.png">
    <div id="btn_area">
      <div id="video" onclick="getVideo()">

      </div>
    </div>
  </div>
</div>
</body>
</html>