<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>출석체크</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/css/wrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <script src="/js/main.js"></script>
</head>
<a href="/check">
<body>
<div id="main">
  <div id="contents">
    <img src="https://www.dongyang.ac.kr/sites/dongyang/images/common/logo_b.png">
    <p id="touch-hint">화면을 터치하세요 !</p>
  </div>
</div>
</body>
</a>
</html>